<%- include('partials/header') -%>
  <div class="container">
    <h1>
      <%= listTitle%>
    </h1>
    <div class="view">
      <h4>
        <%= listItems.length %> Total
      </h4>
      <h4>
        Complete
      </h4>
      <h4>Pending</h4>
    </div>
    <form class="add" action="/add" method="post">
      <input type="text" name="newItem" placeholder="Add your task" autofocus="true" />
      <button class="add-button" type="submit">Add</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>Num</th>
          <th class="table-task">Task</th>
          <th class="table-date">Date</th>
          <th class="table-status">Status</th>
          <th>Delete</th>
        </tr>
        <% for (let item of listItems) { %>
          <tr>
            <td class="id">
              <%= item.id %>
            </td>
            <td class="task">
              <form class="edit" action="/edit" method="post">
                <span id="normal<%=item.id%>">
                  <%= item.task %>
                </span>
                <input type="hidden" name="editedId" value="<%=item.id%>" />
                <input id="input<%=item.id%>" type="text" name="editedTask" placeholder="Edit your task"
                  value="<%=item.task%>" autocomplete="off" autofocus="true" hidden />
                <button class="edit" type="submit" onclick="clickEditButton('<%=item.id%>')"> <img
                    src="/assets/editbutton.png" alt="edit button" width="20px"> </input>
              </form>
            </td>
            <td class="date">
              <%= item.date %>
            </td>
            <td>
              <form action="/status" method="post">
                <input type="hidden" name="statusId" value="<%=item.id%>" />
                <select id="status<%=item.id%>" name="status" onchange="this.form.submit()">
                  <option value="pending" <% if(item.status=="pending" ) { %> selected <% } %>>Pending</option>
                  <option value="complete" <% if(item.status=="complete" ) { %> selected <% } %>>Complete</option>
                </select>
                <input type="checkbox" name="status" value="complete" onchange="this.form.submit()">

              </form>
            </td>

            <td>
              <form class="delete" action="/delete" method="post">
                <button class="delete" type="submit" name="deletedId" value="<%=item.id%>"><img
                    src="/assets/deletebutton.png" alt="delete button" width="20px"> </button>
              </form>
            </td>
          </tr>
          <% } %>
    </table>
  </div>

  <script>
    function clickEditButton(id) {
      const normal = document.getElementById("normal" + id);
      const input = document.getElementById("input" + id);
      if (document.getElementById("normal" + id).hidden) {
        normal.removeAttribute("hidden");
        input.setAttribute("hidden", "true");
      } else {
        normal.setAttribute("hidden", "true");
        input.removeAttribute("hidden");
      }
    }

    function checkComplete(total) {
      var count = 0;
      for (var i = 0; i < total; i++) {
        if (document.getElementById("status" + i).value == "complete") {
          count++;
        }
      }
      return count;
    }
  </script>

  <%- include('partials/footer') -%>